# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[{*.py,Dockerfile}]
indent_style = tab
